#contact .row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    /*gap: 0.1vw;*/
    margin-top: 5vh;
}

#contact .col {
    width: 22vw;
}

@media screen and (max-width: 650px) {
    #contact .col {
        width: 100%;
        align-self: center;
    }
}

@media screen and (min-width: 650px) and (max-width: 1000px) {
    #contact .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contact .col {
        width: 100%;
        align-self: center;
    }
}


#contact .col-img-composition{
    height: 80vh;
}

#contact .col-header{
    width: 100%;
    /*border: 1px var(--primary) solid;*/
}

#contact .col h1{
    width: 100%;
    margin-top: 0;
}

#contact .col form{
    align-items: start;
}

#contact .img-composition{
    width: 100%;
    height:100%;
    position: relative;
    /*border: 2px solid var(--primary);*/
}

#contact .img-composition img{
    width: 40%;
    border-radius: var(--radius);
}

#contact .img-composition img:hover {
    transform: scale(1.05);
    z-index: 10;
    transition: 0.3s ease-in-out;
}

#contact .img-composition .imgC1{
    position: absolute;
    top: 0%;
    left: 0%;
}

#contact .img-composition .imgC2 {
    position: absolute;
    top: 10%;
    left: 30%;
}

#contact .img-composition .imgC3 {
    position: absolute;
    top: 25%;
    left: 10%;
}

#contact .img-composition .imgC4 {
    position: absolute;
    top: 40%;
    left: 40%;
}

#contact .img-composition .imgC5 {
    position: absolute;
    top: 55%;
    left: 20%;
}

/* --- */

#contact .img-profile {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
}