header {
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    padding: 1.5rem 0 0 0 ;
    border-bottom: 5px solid var(--secondary);
    gap: 10px;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

nav a {
    color: var(--surface);
    font-size: var(--f-large);
    font-weight: 700;
    text-decoration: none;
}

nav a:hover {
    color: var(--accent);
    text-decoration: underline;
}

nav a:active {
    color: var(--primary);
    text-decoration: line-through;
}

.logo {
    font-size: var(--f-logo);
    font-weight: 700;
    text-decoration: none;
}

.logo:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.logo:active {
    transform: scale(1);
    transition: 0.5s ease-in-out;
}
