main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    padding: 0 0 5% 0;
}

.intro{
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin: 1rem 0 0 0;
}

.quote{
    font-size: 1.1em;
    font-style: italic;
    color: var(--dark);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--boder-radius);
    padding: 20px 5%;
    text-align: center;
}

.last-post{
    width: 90%;
    background-color: var(--tertiary);    
    border-radius: var(--boder-radius);
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 5%;
}

.last-post:hover{
    background-color: var(--quaternary);
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.last-post div{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.last-post img{
    width: 100%;
    border-radius: 12px;
}

.last-post h2{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--primary);
    margin: 0;
}

.last-post .info{
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.last-post p{
    font-size: 1.1em;
    font-weight: normal;
}
.last-post a{
    font-size: 1.1em;
    color: var(--quaternary);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--secondary);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.last-post .categories{
    color: var(--secondary);
}

.posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    gap: 20px;
}

article{
    width: 20%;
    padding: 5%;
    background-color: var(--tertiary);
    border-radius: 12px;
    color: var(--light);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

article img{
    width: 100%;
    border-radius: 12px;
}

article a{
    color: var(--light);
    text-decoration: underline;
}

article:hover{
    background-color: var(--quaternary);
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}