.last-post{
    margin-bottom: 3vh;
    padding: 0vh 7vw;
}

.last-post .row{
    padding: 3% 4%;
}

/* --- */

.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5vh;
}

.post{
    background-color: var(--primary);
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.post .row{
    padding: 3% 4%;
}

.post .row div{
    width: 100%;
}

.post .abstract{
    margin-top: 1em;
}

/* --- */

.topics {
    text-align: right;
}

.title {
    margin: 0;
}

.date {
    font-size: 0.8em;
}

.abstract {
    /*text-align: justify;*/
}

/* --- */

.last-post .topics{
    font-size: var(--f-medium);
}

.last-post .title{
    font-size: var(--f-xxxlarge);
}

.last-post .date{
    font-size: var(--f-normal);
}

.last-post .abstract{
    font-size: var(--f-medium);
}


/* ---  Detail --- */

.post-detail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cover-image{
    width: 70vw;
    height: 20vh;
}

.cover-image img{
    object-fit: cover;
    object-position: center;
}

.post-detail .abstract{
    text-align: justify;
    font-size: var(--f-medium);
    font-style: italic;
    background-color: var(--primary);
    padding: 1rem 2rem;
    border-radius: var(--radius);
    margin: 4vh 0;
}

.post-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.post-detail .content{
    width: 60%;
    font-size: var(--f-medium);
}

.post-detail .images {
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 1000px) {
    .post-body {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .post-detail .content{
        width: 100%;
        margin-bottom: 2vh;
    }

    .post-detail .images {
        width: 100%;
    }

}