@import url(header.css);
@import url(footer.css);
@import url(form.css);
/*@import url(detail.css);*/
@import url(index.css);
/*@import url(news.css);*/
@import url(about.css);
@import url(contact.css);
/*@import url(login.css);*/
/*@import url(manage.css);*/
/*@import url(add.css);*/
@import url(error.css);

:root{
    /*
    --dark: #0e120e;
    --light: #e5e9d8;
    --primary: #93a462; /*#abcf56;*
    --secondary: #927f1c;
    --tertiary: #1a220e; /*#1b3439;*
    --quaternary: #222b15;
    */

    --dark: #050505;
    --light: #eef0ea;
    --primary: #bbd874;
    --secondary: #ad8800;
    --tertiary: #53771d;
    --quaternary:  #2b2f1f;  
    
    --radius: 12px;
}
    
/*
:root {
    --c0: #061907;
    --c1: #4c653e;
    --c2: #7b8455;
    --c3: #438255;
    --c4: #1f8e7c;
    --c5: #758b7e;
    --c6: #1d5c6e;
    --c7: #45678d;
    --c8: #9b8464;
    --c9: #c6cea8;

    --dark: var(--c0);
    --light: var(--c9);
    --primary: var(--c1);
    --secondary: var(--c6);
    --tertiary: var(--c2);
    --quaternary: var(--c5);

    --radius: 12px;
}*/

body{
    background-color: var(--dark);
    color: var(--light);
    margin: 0;
    padding: 0 15%;
}


h1{
    color: var(--primary);
    font-size: 1.5rem;
}

p, span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#login main {
    margin-top: 5vh;
}

/**/

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    z-index: 999;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 100px;
    height: 100px; 
    border: 25px solid var(--secondary);
    /*border-color: radial-gradient(circle, var(--secondary) 0%, var(--secondary) 100%);*/
    border-top-color: var(--primary);
    border-right-color: var(--tertiary);
    border-bottom-color: var(--quaternary);
    border-radius: 50%;
    animation: loading 3s linear infinite;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}